.video {
    position: relative;
    width: 400px;
    height: 300px;
}

.video-content {
    width: 100%;
    height: 100%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.progress-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15px;
    background-color: lightgrey;
}

.progress-marker {
    height: 100%;
    background-color: navy;
    pointer-events: none;
}

.comments-track {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.play-pause {
    width: 60px;
}
